<div id="register">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Register</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="registerForm" novalidate class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-4">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control col-xs-10" name="name" ng-model="modalRegister.name" required
                           placeholder="Name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Email</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" name="email" ng-model="modalRegister.email" required
                           placeholder="Email"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" name="password" ng-model="modalRegister.password"
                           required placeholder="Password"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Confirm password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" name="confirm-password"
                           ng-model="modalRegister.confirmPassword" required placeholder="Confirm password"/>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="sk-circle" ng-if="modalRegister.showLoadingBar">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
        <button class="btn btn-primary ok-btn" type="button" ng-click="modalRegister.ok(registerForm, registerForm.$error.required, registerForm.email.$error.email)">OK</button>
        <button class="btn btn-link cancel-button" type="button" ng-click="modalRegister.cancel()">Cancel</button>
    </div>
</div>



