.jumbotron {
  background: #000 url("http://wallpapercave.com/wp/zoU7uGD.jpg") no-repeat center center;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  color: #FFF; // change text color
}

.flag-image {
  height: auto;
  width: 20px;
  border: 1px solid #9d9d9d;
  margin-right: 5px;
}

.started {
  border-right: 5px solid green;
}

#toggleFiltering {
  margin-top: 15px;
}

.toggle {
  margin-bottom: 20px;
  .form-group {
    margin-top: 15px;
  }
}

.bold-text {
  font-weight: 600;
}

.green {
  background: rgba(34, 139, 34, 0.5) !important;
  .ui-grid-cell-contents {
    color: snow;
    font-weight: 700;
  }
}

.ui-grid-viewport {
  overflow-x: hidden !important;
}

.btn.btn-default.btn-toggle {
  background-color: @mainBackgroundColor;
  border-color: @mainBackgroundColor;
  color: #fff;
  border-radius: 0;
  &:hover, &:active {
    background-color: @orange;
    border-color: @orange;
    outline: none !important;
  }
  &:focus {
    outline: none !important;
  }
}

.time-zone {
  line-height: 65px;
  margin-right: 10px;
}

.yellow-cards, .red-cards {
  box-shadow: 2px 2px 5px #888888;
  background-color: yellow;
  font-size: 11px;
  padding: 0.7px 2px;
  float: right;
  margin-top: 2px;
  font-weight: 700;
}

.yellow-cards {
  margin-left: 3px;
}

.red-cards {
  background-color: red;
  color: #fff;
}

.team-rank {
  font-weight: normal;
  font-size: 10px;
  color: gray;
  font-style: italic;
  font-family: verdana;
  text-decoration: none;
}

.ui-grid-icon-menu, .ui-grid-menu-item {
  color: @orange;
}

.tooltip-inner {
  background: @mainBackgroundColor;
  color: @orange;
  font-weight: bold;
}

.tooltip.left .tooltip-arrow {
  border-left: 5px solid @mainBackgroundColor;
}

.form-control-feedback.glyphicon-search {
  top: 15px;
  left: 15px;
  color: @mainBackgroundColor;
}

.form-control-feedback.glyphicon-remove {
  top: 15px;
  right: 15px;
  color: @mainBackgroundColor;
  cursor: pointer;
}

.toggle .form-control {
  padding-left: 30px;
}

.watermark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3em;
  width: 100%;
  text-align: center;
  z-index: 1000;
  color: @orange;
  font-style: italic;
}

.datepicker-button {
  color: @orange !important;
  border-color: @orange !important;
  border-radius: 15px !important;
  font-weight: 400;
  margin-bottom: 10px;
  background: white !important;
  &:hover, &:focus {
    color: @orange;
    outline: none !important;
  }
}

.tips-datepicker ._720kb-datepicker-calendar-header:nth-child(odd) {
  background: @orange;
}

.tips-datepicker ._720kb-datepicker-calendar-days-header {
  background: @mainBackgroundColor;
  div {
    color: white;
  }
}

._720kb-datepicker-calendar-day._720kb-datepicker-active{
  background-color: @orange !important;
  color: white;
  &:hover{
    background-color: @orange !important;
  }
}

._720kb-datepicker-calendar-day:hover{
  background-color: @mainBackgroundColor !important;
  color: white !important;
}

._720kb-datepicker-calendar-day._720kb-datepicker-disabled:hover{
  color: rgba(0,0,0,.2) !important;
  background: rgba(25,2,0,.02) !important;
}
