<md-content>
    <header>
        <acme-navbar></acme-navbar>
    </header>

    <section class="jumbotron">
        <h1>'Allo, 'Allo!</h1>
        <p class="lead">
            <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
            Always a pleasure scaffolding your apps.
        </p>
        <md-button class="md-raised animated infinite" ng-class="main.classAnimation" ng-click="main.showToastr()">
            Splendid Toastr
        </md-button>
        <p>
            With ♥ thanks to the contributions of
            <acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
        </p>
    </section>

    <!--<div class="techs" layout-align="center" layout="row">-->
    <!--<md-card md-theme="default" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'" flex-xs="100" flex-sm="45" flex="30">-->
    <!--<md-card-content>-->
    <!--<img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">-->
    <!--<h3 class="md-title">{{ awesomeThing.title }}</h3>-->
    <!--<p>{{ awesomeThing.description }}</p>-->
    <!--</md-card-content>-->
    <!--<div class="md-action-buttons">-->
    <!--<md-button ng-href="{{ awesomeThing.url }}">Website</md-button>-->
    <!--</div>-->
    <!--</md-card>-->
    <!--</div>-->
    <div class="techs" layout-align="center" layout="row">
        <md-card md-theme="default" data-ng-repeat="fixture in main.livescoreMatches track by $index"
                 flex-xs="100" flex-sm="45" flex="30">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ fixture.matchState }} {{ fixture.liveTime }}</span>
                    <span class="md-subhead">{{ fixture.teams[0].homeTeamName }}</span>
                    <span class="md-subhead">{{ fixture.teams[1].awayTeamName }}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
    <div class="techs" layout-align="center" layout="row">
        <md-card md-theme="default" data-ng-repeat="fixture in main.fixtures track by $index"
                 flex-xs="100" flex-sm="45" flex="30">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ main.arrayOfNames[$index] }}</span>
                    <span class="md-subhead">{{ fixture.homeTeamName }}</span>
                    <span class="md-subhead">{{ fixture.awayTeamName }}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
</md-content>
